PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pos_db
DB_SSL=disable
DATABASE_URL=
JWT_SECRET=bebas_apa_saja_yang_panjang_21312378574huf8ywfjksb
OTP_ENABLED=false
ADMIN_OTP_ONLY=false
UPLOADS_DIR=./uploads
GIN_MODE=release
